.sidebar {
  background-color: #f0f0f0;
  padding: 1em 0;
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pokemon-logo {
  padding: 0em 5em;
}

.filter-container {
  padding: 1em 0;
}

.pokemon-list {
  flex: 1;
  overflow-y: scroll;
}

.pokemon-item {
  cursor: pointer;
  padding: 0.5em 2em;
  box-sizing: border-box;
}

.pokemon-item:hover {
  background-color: #ddd;
  font-weight: bold;
}

.pokemon-selected {
  background-color: #ddd;
}

.list-message {
  color: #444;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
