.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

header {
  width: 100%;
  text-align: center;
  background-color: #ee1515;
  color: white;
  line-height: 4em;
  height: 4em;
}

main {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: 4em;
  margin-right: 4em;
  box-sizing: border-box;
  border-radius: 15px;
  flex: 1;
  overflow: hidden;
}

footer {
  width: 100%;
  background-color: #ee1515;
  color: white;
  height: 4em;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer a:link,
footer a:visited {
  color: white;
}
footer a:hover {
  color: #ddd;
}
