* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mukta", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ee1515;
}

ul {
  list-style: none;
}

button {
  overflow: hidden;
  position: relative;
  font-size: 0.7rem;
  padding: 0.6em;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: 1px solid #999;
}
